<nav>
  <a href='/car_status'>Check your car "Oldness"</a>
  |
  <a href='/random_person'>Random Person Picker</a>
  |
  <a href='/fizz_buzz'>Fizz Buzz</a>
  |
  <a href='/directory_lister'>Directory Lister</a>
</nav>