<nav>
  <a href='/'>Home</a>
  |
  <a href='/hello_world'>Hello World App</a>
  |
  <a href='/contact_us'>Contact Us!</a>
  |
  <% if (username) { %>
    <span><%= username %></span>
    <form id='sign-in' method='POST' action='/sign_out'>
      <input type='submit' value='Sign Out'>
    </form>
  <% } else { %>
    <a href='/sign_in'>Sign In!</a>
  <% } %>
</nav>