<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <form method='POST'>
      <div>
        <label for='note'>Add a note</label>
        <br>
        <textarea name='note' id='note' cols="30" rows="10"></textarea>
      </div>
      <div>
        <input type='submit' value='Save'>
      </div>
    </form>
  </main>
</body>
</html>