<%- include('./partials/header') %>
  <main>
    <form method='POST'>
      <div class='form-group'>
        <label for='username'>Username</label>
        <br>
        <input type='text' id='username' class='form-control' name='username'>
      </div>
      <input type='submit' value='Log In'>
    </form>
  </main>
<%- include('./partials/footer') %>